@model PMCPV2.Models.ParameterName

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row border-bottom white-bg dashboard-header">
    <div>
        <h4>ParameterName</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.parameterNameName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parameterNameName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.parameterNameID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>